/* CustomerPage.css */
.menu-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  .menu-image {
    width: 350px; /* Set a fixed width for all menu items */
    height: 250px; /* Set a fixed height for all menu items */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    margin-right: 20px;
  }
  
  .item-details {
    flex: 1;
  }
  
  .item-details h3,
  .item-details p,
  .item-details button {
    margin: 0;
  }
  